[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=<%= @user %>
Group=<%= @group %>
WorkingDirectory=<%= @working_dir %>
PIDFile=<%= @pid %>
ExecStart=<%= @exc_cmd %> --config <%= @config %> <% @bind.each do |addr| %>--bind <% if addr.start_with?('/') %>unix:<% end %><%= addr -%> <% end %><%= @app_module %>
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
<% @environment.each_pair do |env_key, env_value| %>Environment="<%= env_key %>=<%= env_value %>"
<% end %>

[Install]
WantedBy=multi-user.target

