# This file is managed by Puppet.

# Server Socket

<% unless @bind.nil? %>bind = [<%= @bind.join(", ") %>]
<% end %><% unless @backlog.nil? %>backlog = <%= @backlog %>
<% end %>

# Worker Processes

<% unless @workers.nil? %>workers = <%= @workers %>
<% end %><% unless @worker_class.nil? %>worker_class = '<%= @worker_class %>'
<% end %><% unless @threads.nil? %>threads = <%= @threads %>
<% end %><% unless @worker_connections.nil? %>worker_connections = <%= @worker_connections %>
<% end %><% unless @max_requests.nil? %>max_requests = <%= @max_requests %>
<% end %><% unless @max_requests_jitter.nil? %>max_requests_jitter = <%= @max_requests_jitter %>
<% end %><% unless @timeout.nil? %>timeout = <%= @timeout %>
<% end %><% unless @graceful_timeout.nil? %>graceful_timeout = <%= @graceful_timeout %>
<% end %><% unless @keepalive.nil? %>keepalive = <%= @keepalive %>
<% end %>

# Security

<% unless @limit_request_line.nil? %>limit_request_line = <%= @limit_request_line %>
<% end %><% unless @limit_request_fields.nil? %>limit_request_fields = <%= @limit_request_fields %>
<% end %><% unless @limit_request_fieldsize.nil? %>limit_request_fieldsize = <%= @limit_request_fieldsize %>
<% end %>

# Debugging
<% unless @reload.nil? %>reload = <%= @reload ? "True" : "False" %>
<% end %><% unless @spew.nil? %>spew = <%= @spew ? "True" : "False" %>
<% end %><% unless @check_config.nil? %>check_config = <%= @check_config ? "True" : "False" %>
<% end %>

# Server Mechanics

<% unless @preload_app.nil? %>preload_app = <%= @preload_app ? "True" : "False" %>
<% end %><% unless @sendfile.nil? %>sendfile = <%= @sendfile ? "True" : "False" %>
<% end %><% unless @chdir.nil? %>chdir = '<%= @chdir %>'
<% end %><% unless @daemon.nil? %>daemon = <%= @daemon ? "True" : "False" %>
<% end %><% unless @raw_env.nil? %>raw_env = [<%= @raw_env.join(", ") %>]
<% end %><% unless @pidfile.nil? %>pidfile = '<%= @pidfile %>'
<% end %><% unless @worker_tmp_dir.nil? %>worker_tmp_dir = /<%= @worker_tmp_dir %>'
<% end %><% unless @umask.nil? %>umask = <%= @umask %>
<% end %><% unless @secure_scheme_headers.nil? %>secure_scheme_headers = dict(<%= @secure_scheme_headers.to_a %>)
<% end %><% unless @forwarded_allow_ips.nil? %>forwarded_allow_ips = '<%= @forwarded_allow_ips %>'
<% end %><% unless @pythonpath.nil? %>pythonpath = '<%= @pythonpath %>'
<% end %><% unless @paste.nil? %>paste = '<%= @paste %>'
<% end %>

# Logging
<% unless @accesslog.nil? %>accesslog = '<%= @accesslog %>'
<% end %><% unless @access_log_format.nil? %>access_log_format = '<%= @access_log_format %>'
<% end %><% unless @errorlog.nil? %>errorlog = '<%= @errorlog %>'
<% end %><% unless @log_level.nil? %>loglevel = '<%= @log_level %>'
<% end %><% unless @logger_class.nil? %>logger_class = '<%= @logger_class %>'
<% end %><% unless @logconfig.nil? %>logconfig = '<%= @logconfig %>'
<% end %><% unless @syslog_addr.nil? %>syslog_addr = '<%= @syslog_addr %>'
<% end %><% unless @syslog.nil? %>syslog = <%= @syslog ? "True" : "False" %>
<% end %><% unless @syslog_prefix.nil? %>syslog_prefix = '<%= @syslog_prefix %>'
<% end %><% unless @syslog_facility.nil? %>syslog_facility = '<%= @syslog_facility %>'
<% end %><% unless @enable_stdio_inheritance.nil? %>enable_stdio_inheritance = <%= @enable_stdio_inheritance ? "True" : "False" %>
<% end %><% unless @statsd_host.nil? %>statsd_host = '<%= @statsd_host %>'
<% end %><% unless @statsd_prefix.nil? %>statsd_prefix = '<%= @statsd_prefix %>'
<% end %>

# Process Naming

<% unless @proc_name.nil? %>proc_name = '<%= @proc_name %>'
<% end %><% unless @default_proc_name.nil? %>default_proc_name = '<%= @default_proc_name %>'
<% end %>
